@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  padding: 5px;
  transition: all 300ms ease-in-out;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body.light {
  background-image: url(https://images.pexels.com/photos/6775241/pexels-photo-6775241.jpeg?auto=compress&cs=tinysrgb&w=600);
  color: #333;
}
body.dark {
  background-image: url(https://images.pexels.com/photos/1983032/pexels-photo-1983032.jpeg?auto=compress&cs=tinysrgb&w=600);
  color: #fff;
}

.layout-css {
  /* header {
  } */
  .outlet-css {
    width: 100%;
    flex: 1;
    padding: 6px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .home--page-css {
      .navigation {
        width: 3.5%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 4px;
      }
      .navigation {
        justify-content: space-between;
        transition: all 0.5s ease-in-out;
        overflow: hidden;
        text-wrap: nowrap;
        -webkit-backdrop-filter: blur(20px) saturate(180%);
        border-right: 1px solid rgba(128, 128, 128, 0.25);
        backdrop-filter: blur(20px) saturate(180%);
      }

      .navigation.extend-css {
        width: 18%;
        padding-right: 10px;
      }

      /* Add this CSS to your project's stylesheet or inline styles */

      /* .chat--container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        -webkit-backdrop-filter: blur(20px) saturate(180%);
        backdrop-filter: blur(20px) saturate(180%);

        .chatList--container,
        .chatmessages--container,
        .chatdetails--container {
          display: flex;
          flex-direction: column;
          align-items: start;
          justify-content: start;
          height: 100%;
          padding: 4px;
        }
        .chatList--container {
          flex: 0.75;
        }
        .chatmessages--container {
          flex: 2;
          border-left: 1px solid black;
          border-right: 1px solid black;
        }
        .chatdetails--container {
          flex: 1;
          align-items: center;
        }
      } */

      .home--page--outlet {
        flex: 1;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
      }
    }

    .login-container {
      width: 100%;
      height: 100%;
      background-image: url(https://images.pexels.com/photos/2047905/pexels-photo-2047905.jpeg?auto=compress&cs=tinysrgb&w=600);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      display: flex;
      justify-content: center;
      align-items: center;

      .LoginPage {
        width: 75%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
          rgba(0, 0, 0, 0.23) 0px 3px 6px;
        -webkit-backdrop-filter: blur(10px) saturate(180%);
        backdrop-filter: blur(20px) saturate(180%);

        .form--page {
          flex: 1;
          height: 100%;
          padding: 5px;
          display: flex;
          flex-direction: column;
          row-gap: 10px;
          align-items: center;
          justify-content: center;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;

          .loginHeader {
            width: 100%;
            display: flex;
            flex-direction: column;
            row-gap: 5px;

            p {
              width: 100%;
              text-align: left;
              border-bottom: 1px solid tomato;
              font-style: italic;
            }
            h1 {
              width: 100%;
              text-align: center;
              font-size: 2rem;
              font-weight: 600;
            }
          }
          form {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            ul {
              width: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              gap: 5px;

              li {
                width: 80%;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                position: relative;
                margin: 5px 0;

                label {
                  width: 100%;
                  display: flex;
                  align-items: center;
                  justify-content: start;
                  column-gap: 8px;
                  font-weight: 600;
                }

                input[type="text"],
                input[type="password"],
                input[type="email"] {
                  width: 100%;
                  height: 2.65rem;
                  padding: 0 10px;
                  margin: 2.5px 0;
                  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
                    rgba(0, 0, 0, 0.23) 0px 3px 6px;
                  border-radius: 4px;
                  background: none;
                  &:focus {
                    outline: 0.5px solid rgba(29, 34, 29, 0.25);
                  }
                  &::placeholder {
                    color: gray;
                  }
                }

                .text-center::after {
                  content: "";
                  position: absolute;
                  bottom: 70%;
                  right: 13%;
                  width: 25%;
                  background-color: whitesmoke;
                  height: 2px;
                }
                .text-center::before {
                  content: "";
                  position: absolute;
                  bottom: 70%;
                  left: 13%;
                  width: 25%;
                  background-color: whitesmoke;
                  height: 2px;
                }
              }
            }
            .view--password {
              position: absolute;
              right: 10px;
              top: 41%;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 1.5em;
              padding: 4px;
              border-radius: 50%;
              transition: all 0.35s ease-in-out;

              &:hover {
                background-color: rgba(128, 128, 128, 0.5);
              }
              &:active {
                transform: translateY(4px);
              }
            }
          }
        }
        .page-two {
          flex: 1;
          height: 100%;
          padding: 5px;
          display: flex;
          flex-direction: column;
          row-gap: 10px;
          align-items: center;
          justify-content: center;

          .generate--passwordBox {
            width: 100%;
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            align-items: center;
            justify-content: center;

            h1 {
              font-weight: 600;
              font-size: x-large;
              letter-spacing: 1px;
            }

            .password-box {
              width: 80%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              column-gap: 4px;

              input {
                flex: 1;
                padding: 10px;
                height: 2.5rem;
                border: 1px solid rgba(128, 128, 128, 0.25);
                border-radius: 4px;
                color: black;

                &:focus {
                  outline: none;
                }
                &::placeholder {
                  color: gray;
                }
              }

              button {
                height: 2.5rem;
                width: max-content;
                padding: 0 10px;
                color: black;
                border-radius: 4px;
                font-size: small;
                font-weight: bold;
                &:hover {
                  opacity: 0.75;
                }
                &:active {
                  transform: translateY(4px);
                }
              }
            }
            .input--container {
              width: 80%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              column-gap: 5px;
              border: 1px solid rgba(128, 128, 128, 0.5);
              border-radius: 4px;
              padding: 4px;
              font-size: 14px;

              div {
                display: flex;
                align-items: center;
                column-gap: 6px;
              }
            }
          }
        }
      }
    }
  }
  /* footer {
  } */
}
